@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Nunito:wght@400;600&display=swap');

#carrito {
  background-color: white;
  position: absolute;
  z-index: 100;
  height: auto !important;  
  width: 40%;  
  right: 0; 
                    
}

/* #carrito.offcanvas-end {
  width: auto !important;      
  min-width: 250px;            
  max-width: 400px;            
} */


#carrito .offcanvas-body {
  overflow-y: auto;          
}

#carrito .offcanvas-header {
    position: relative;
}

#carrito .offcanvas-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 0.25rem;
    background: #6c757d;
    margin-left: 1rem;
}

