@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Nunito:wght@400;600&display=swap');

#carrito {
  background-color: white;
  position: absolute;
  z-index: 100;
  height: auto !important;  
  width: 40%;  
  right: 0;  
  box-shadow: 5px 5px 10px gray;
  margin-top: 1.4rem;      
}

@media (max-width: 768px) {
  #carrito {
    width: 80%;
    margin-top: 0.5rem;
  }
}

