@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Nunito:wght@400;600&display=swap');

/* Fonts */
:root {
    --fuente-titulos: 'Cormorant Garamond', serif;
    --fuente-texto: 'Nunito', sans-serif;

    --peso-ligero: 300;
    --peso-normal: 400;
    --peso-semi-bold: 600;
    --peso-bold: 700;

    --bg-titulos: #f0d260;
    --bg-bloques: #ad132b;
}

/*------------------------------------------
# seccion hero 
------------------------------------------*/

#hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0d260;
    background-size: cover;     /* Para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    padding: 40px;
    border: 30px solid #F28B0B;
    color: black;
    box-sizing: border-box;
    gap: 2px;
    background-image: url("../public/img/finca_colombia.webp");
    
}

.hero-content {
    flex: 1 1 380px;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text h2 {
    font-family: var(--fuente-titulos);
    font-size: 3.5rem;
    font-weight:900;
    line-height: 1.2;
    margin: 0 0 20px 0;
}

.hero-text p {
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
    font-weight:900;
    line-height: 1.3;
    margin: 0;
}

.hero-text h2,
.hero-text p {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); /* sombra suave oscura */
}

.hero-text {
  background: rgba(195, 190, 190, 0.4); /* capa oscura */
  display: inline-block; /* para que no ocupe todo */
  padding: 10px 20px;
  border-radius: 8px;
}



.hero-image {
    max-width: 600px;
    flex: 1 1 380px;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 400px;
    object-fit: contain;
}

/* RESPONSIVE */
@media (min-width: 300px) and (max-width: 780px) {
    #hero-section {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .hero-content {
        align-self: center;
        max-width: 100%;
        flex: 1 1 180px;

    }

    .hero-image {
        max-width: 70%;
        flex: 1 1 180px;
    }

    .hero-text h2 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1.8rem;
    }
}

/*------------------------------------------
# Seccion card
------------------------------------------*/

.card {
    border-radius: 15px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}


.icon-cards {
    fill: var(--bg-bloques);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.card-footer {
    background-color: white !important;
    border: none !important;
}



.card-title {
    font-family: var(--fuente-texto);
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

.card-text {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 25px;
    text-align: center
}

.btn-contact {
    background: var(--bg-bloques);
    border: 0;
    border-radius: 25px;
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 280px;
    font-size: 1rem;
    overflow-wrap: anywhere;
    text-align: center;
}

.btn-contact:hover {
    opacity: 0.7;
}

/*------------------------------------------
# seccion formulario
------------------------------------------*/
#mensaje-formulario-1 {
    font-family: var(--fuente-titulos);
    font-size: 1.5rem;
    margin: 2rem 1rem 0 1rem;
    text-align: center;
    line-height: 1.2;
}

#mensaje-formulario-1 .link-faq {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#mensaje-formulario-1 .link-faq:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

#mensaje-formulario-1::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background-color: var(--bg-bloques);
    margin: 10px auto;
}

#mensaje-formulario-2 {
    font-family: var(--fuente-titulos);
    font-size: 3rem;
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    line-height: 1.2;
}

#contactForm {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    color: black;
    margin: 0;
    padding: 1rem;
}

.bg-formulario {
    background: transparent;
    border: 2px solid var(--bg-titulos);
    border-radius: 15px;
    margin: auto;
}

#contactForm button {
    background-color: var(--bg-bloques);
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    color: white;
    font-size: 1rem;
    position: relative;
    top: -15px;
}

#contactForm button:hover {
    opacity: 0.7;
}

#contactForm .tyc {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#contactForm .tyc:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}