@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Nunito:wght@400;600&display=swap');

:root {
    --fuente-titulos: 'Cormorant Garamond', serif;
    --fuente-texto: 'Nunito', sans-serif;

    --peso-ligero: 300;
    --peso-normal: 400;
    --peso-semi-bold: 600;
    --peso-bold: 700;

    --bg-titulos: #f0d260;
    --bg-botones: #ad132b;
}

#navbar {
    background-color: var(--bg-botones);
}

#navbar img {
    width: 3.5rem;
}

#navbar .text-logo {
    font-size: 1rem;
}

@media (max-width: 768px) {
    #navbar img {
        width: 2.5rem;
    }

    #navbar .text-logo {
        font-size: 0.8rem;
    }
}