@import url(./normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Nunito:wght@400;600&display=swap');

/* Fonts */
:root {
    --fuente-titulos: 'Cormorant Garamond', serif;
    --fuente-texto: 'Nunito', sans-serif;

    --peso-ligero: 300;
    --peso-normal: 400;
    --peso-semi-bold: 600;
    --peso-bold: 700;

    --bg-titulos: #f0d260;
    --bg-botones: #ad132b;
}

body {
    box-sizing: border-box;
    background-image: url("../public/img/finca_colombia.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

/* -----------------------------------------------------------------
# Seccion Mision Vision 
------------------------------------------------------------------*/

#contenido-mision-vision {
    background-color: rgba(255, 255, 255, 0.7);
}

.card-mision-vision {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 0 3rem 3rem 0;
    overflow: hidden;
}

.tab-bar {
    background-color: #f3cf58;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.tab-bar button {
    background: none;
    border: none;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}

.tab-bar button.active {
    border-bottom: 3px solid #000;
}

.tab-bar button:hover {
    color: #444;
    text-shadow: 0px 0px 2px #aaa;
}

.content-text {
    padding: 20px;
    min-height: 150px;
    text-align: justify;
    background-color: #f8f9fa;
    opacity: 1;
    transition: opacity 0.4s ease;
}

.fade-out {
    opacity: 0;
}

/*------------------------------------------------------------- 
# Seccion Valores Aporte ODS
-------------------------------------------------------------*/

.card-valores-ods {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 3rem 0 0 3rem;
    overflow: hidden;
}

.link-box {
    flex: 1;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
    background: none;
    border: none;
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    position: relative;
}

.link-box::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 3px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.link-box:hover::after,
.link-box.activo::after {
    transform: scaleX(0.6);
}

.valores-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px 20px;
}

.valores-lista li {
    background-color: #ffffffcc;
    border-left: 5px solid #4caf50;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.valores-lista li:hover {
    transform: translateX(5px);
}

.enlaces_valores {
    background-color: #F0D260;
    padding: 15px;
    border-radius: 0px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

#title_general {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--fuente-titulos);
}

@media (max-width: 768px) {
    #title_general {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: var(--fuente-titulos);
    }
}


/*------------------------------------------------------------- 
# INICIO CSS con-quien-trabajamos
-------------------------------------------------------------*/
#con-quien-trabajamos .contenido {
    border: 1px solid #ddd;
    border-radius: 3rem;
}

#con-quien-trabajamos .titulo {
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
    background-color: var(--bg-titulos); 
    border-radius: 3rem 3rem 0 0 ;
}

#con-quien-trabajamos .container-texto {
    font-family: var(--fuente-texto);
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 3rem 3rem;
    border: 0.5px solid #ddd;
}

#con-quien-trabajamos .lista-con-quien-trabajamos {
    list-style: none;
}

#con-quien-trabajamos .menu {
    background-color: var(--bg-titulos);
}

#con-quien-trabajamos .titulo-menu {
    font-family: var(--fuente-titulos);
    font-size: 1.5rem;
}

#con-quien-trabajamos .frase {
    font-family: var(--fuente-titulos);
    font-size: 2rem;
    flex-shrink: 2;
    color: white;
}

@media (max-width: 1351px) {
    #con-quien-trabajamos .titulo {
        font-size: 3rem;
    }

    #con-quien-trabajamos .texto {
        font-size: 1.1rem;
    }

    #con-quien-trabajamos .titulo-menu {
        font-size: 1.5rem;
    }

    #con-quien-trabajamos .frase {
        font-size: 1.8rem;
        flex-shrink: 2;
    }
}

@media (max-width: 992px) {

    #con-quien-trabajamos .titulo,
    #con-quien-trabajamos .frase {
        font-size: 2rem;
    }

    #con-quien-trabajamos .titulo-menu {
        font-size: 1.5rem;
    }

    #con-quien-trabajamos .width {
        width: 40% !important;
    }

    #con-quien-trabajamos .width-lg {
        width: 30% !important;
    }

    #con-quien-trabajamos .container-menu {
        display: flex;
        justify-content: space-evenly !important;
    }

    #con-quien-trabajamos .menu {
        height: 50%;
    }
}

@media (max-width: 767px) {

    #con-quien-trabajamos .titulo,
    #con-quien-trabajamos .frase {
        font-size: 2rem;
    }

    #con-quien-trabajamos .titulo-menu {
        font-size: 1.3rem;
    }
}

@media (max-width: 575px) {

    #con-quien-trabajamos .titulo,
    #con-quien-trabajamos .frase,
    #con-quien-trabajamos .titulo-menu {
        font-size: 1.2rem;
    }

    .texto {
        font-size: 0.8rem;
    }
}

/*------------------------------------------------------------- 
# FIN CSS con-quien-trabajamos
-------------------------------------------------------------*/

/* -----------------------------------------------------------------
# Seccion Nosotros
------------------------------------------------------------------*/

/* #container-nosotros .flip-card{
     background-color: rgba(255, 255, 255, 1);    
}  */

#nosotros {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    border-radius: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    /* background: linear-gradient(135deg, rgba(159, 170, 104, 0.6), rgba(242, 139, 11, 0.2)); 
    backdrop-filter: blur(8px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); */
    background-color: var(--bg-titulos);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.flip-card-front {
    transform: rotateY(0deg);
}

.flip-card-back {
    transform: rotateY(180deg);
}


.card-img-top {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 12px;
}

.card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: black;
    margin-bottom: 8px;
}

.card-text {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: black;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
}

.social-icons a {
    display: inline-block;
}

.social-icons svg {
    width: 24px;
    height: 24px;
    fill: black;
    transition: transform 0.3s ease;
}

.social-icons a:hover svg {
    transform: scale(1.2);
    fill: #AD132B;
}

/* ------ */